.python-version
.env
private/

data/output/
data/pdfs/
data/processed/

output/

tests/last_run_ids.json
tests/output_tests.txt

.idea
.ipynb_checkpoints
**/.__pycache__/
*.pyc


__pycache__
.vscode
.DS_Store
.venv
.conda
/01-data/004-test
/mlruns
